<!DOCTYPE html>
<html>
<head>
  <title>CrowdSource</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Raleway:500,600' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600|Pacifico' rel='stylesheet' type='text/css'>

</head>
<body>
<% if !current_page?(root_path) %>
    <%= render 'common/navigation_black' %>
<% end %>
  <% if alert %>
  <div id="notice_wrapper">
    <p class="alert"><%= alert %></p>
  </div>
  <% elsif notice %>
  <div id="notice_wrapper">
    <p class="notice"><%= notice %></p>
  </div>
  <% end %>
  <%= yield %>
  <script>
    $(document).ready(function() {
      setTimeout(function() {
        $('#notice_wrapper').fadeOut("slow", function() {
          $this.remove();
        })
      }, 4000)
    })
    </script
  </body>
  </html>
